<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		<link type="text/css" rel="stylesheet" href="../css/style.css">
	</head>

	<body class="wrapper">
		<div>
			<header class="masthead">
				<h1 class="masthead-heading">Tweetful</h1>
				<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
			</header>

			<div class="info-container">
				<section class="info">  
					<header>
						<h2>Peter Lonestar</h2>
						<h4>Founder</h4>
					</header>
					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
				</section>

				<section class="info">  
				  <header>
						<h2>Bill Billerson</h2>
						<h4>CFO</h4>
				  </header>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
				</section>

				<section class="info">  
				  <header>
						<h2>Mr. Marc!</h2>
						<h4>CTO</h4>
				  </header>
				  <p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</section>
			</div>

			<footer class="footer">
				Contact us: <span>admin@tweetful.io</span>
			</footer>
		</div>
	</body>
</html>